/* MEDIA QUERIES */

/* ------------------------- */

@media (min-width: 768px) {
  /* HEADER */

  #burgermenu {
    display: none;
  }

  #searchitem {
    display: none;
  }
}

@media (min-width: 1184px) {
  /* HEADER */

  .menu-shortcut > div:nth-child(6),
  .menu-shortcut > div:nth-child(7) {
    display: none;
  }
}

/* ---------- SCREEN UNDER 1184px -----------------*/

@media (max-width: 1183px) {
  .container {
    /* background-color: yellow; */
    width: 100%;
    padding: 0px 25px;
  }
  /* HEADER */

  /* --------- MAIN -------*/
  /* ------SECTION TOP -------- */
  .menu-shortcut {
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .menu-shortcut > div {
    display: flex;
    height: inherit;
    flex: 1 0 21%;
    margin: 0px 10px 0px 0px;
  }

  .menu-shortcut > div:nth-child(4),
  .menu-shortcut > div:nth-child(8) {
    margin-right: 0px;
  }
  .menu-shortcut > div:nth-child(1),
  .menu-shortcut > div:nth-child(2),
  .menu-shortcut > div:nth-child(3),
  .menu-shortcut > div:nth-child(4) {
    margin-bottom: 10px;
  }

  /* SECTION TOP ------ Photo ville */

  .main-photo {
    width: 100%;
  }

  .main-photo img {
    height: 372px;
    width: 100%;
  }

  #photo-ville-right {
    align-items: flex-end;
    width: fit-content;
  }

  #photo-ville-right > img {
    height: 185px;
    width: 402px;
    margin-left: 2px;
  }
}

/* --------------SCREEN UNDER 1024 PX ---------------*/

@media (max-width: 1024px) {
  /* .container {
    background-color: rosybrown;
  } */

  /*  HEADER */
  header nav > div p {
    display: none;
  }
  header nav {
    width: 295px;
  }

  /* SECTION TOP ------ Photo ville */

  .main-photo {
    width: calc((2 / 3) * 100%);
  }
  .main-photo img {
    height: 278px;
  }

  #photo-ville-right {
    width: calc((1 / 3) * 100%);
    margin-left: 2px;
  }

  #photo-ville-right > img {
    width: 100%;
    height: 138px;
  }
}

/* SCREEN UNDER 768 PX */

@media (max-width: 767px) {
  /* .container {
    background-color: lightgreen;
  } */

  /* HEADER */
  header nav > div:not(#burgermenu) {
    display: none;
  }

  #searchitem {
    position: absolute;
    right: 23px;
  }

  #logo-site {
    width: 135px;
    position: absolute;
    left: calc(50vw - (135px / 2));
  }

  h1 {
    font-size: 32px;
  }

  /* --------- MAIN -------*/
  /* ------SECTION TOP -------- */
  .menu-shortcut {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 40px;
    overflow-x: auto;
  }

  .menu-shortcut::-webkit-scrollbar {
    display: none;
  }

  .menu-shortcut > div {
    display: flex;
    justify-content: start;
    flex-shrink: 0;
    flex-basis: content;
  }
  .menu-shortcut > div:nth-child(4) {
    margin-right: 10px;
  }

  /* SECTION TOP ------ Photo ville */

  .main-photo {
    width: 100vw;
  }

  #photo-ville-right {
    display: none;
  }

  #photo-ville {
    width: 767px;
    margin-left: -25px;
  }
}
