/* CONTAINER */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* BODY */

body {
  background-color: white;
  font-family: 'Trip Sans Reg';
  font-size: 16px;
  color: rgb(51, 51, 51);
}

/* TITRE */
h1 {
  font-family: 'Trip Sans Med';
  color: black;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 35px;
}

h2 {
  font-family: 'Trip Sans Med';
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 33px;
  font-weight: 900px;

}
/* HEADER */

header > div {
  height: 60px;
  display: flex;
  justify-content: space-between; */
}

header img {
  width: 188px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

header nav > div {
  display: flex;
  justify-content: space-between;
}

header nav span {
  margin-right: 5px;
}

header button {
  font-family: 'Trip Sans Reg';
  background-color: black;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  border-style: none;
}

/* MAIN */
.titre {
  color: #ff5d5d;
}

/* SECTION TOP */
#top > div:nth-last-child() {
  padding-top: 32px;
  padding-bottom: 24px;
}

.menu-shortcut {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 25px;
}

.menu-shortcut > div {
  width: 181px;
  height: 66px;
  margin-left: 10px;
  border-radius: 10px;
  border: solid black 1px;
}

.menu-shortcut > div:first-child {
  margin-left: 0px;
}

.menu-shortcut p {
  padding: 11px 16px;
  font-weight: 400px;
}

#photo-ville {
  display: flex;
}
.main-photo img {
  flex: 1;
  height: 430px;
  object-fit: cover;
  margin-right: 2px;
}

#photo-ville-right img {
  width: 484px;
  height: 213.5px;
  object-fit: cover;
}

/* TOP SECTION FOOTER */
#topsection-footer {
  font-size: 12px;
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#topsection-footer > div {
  display: flex;
  justify-content: space-between;
}

#topsection-footer span {
  margin-left: 5px;
}

.last-top-footer {
  margin-left: 800px;
}

/* SECTION CITY DETAILS */
#city-details {
  margin: 50px auto;
}

#text-city-details {
  width: 570px;
}

#text-city-details p {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Georgia';
}

/* 2-SECTION CITY IMMANQUABLES */

#cityImmanquables {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 800px;
  
}

#text-carrousel1 {
  display: flex;
  
}

#section2text {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 272px;
  flex-shrink: 0;
}

/* 2 - CARROUSEL */
#carrousel1 {
  display: flex;
  overflow: scroll;
  margin-left: 15px;
  
}

#carrousel-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: yellow;
  width: 272px;
  margin-right: 15px;
  
}


#carrousel1 > a > div {
  display: flex;
  background-color: green;
  width: 272px;
  /* height: 80px; */
  border: solid 1px black;
}

/* 2 - CARROUSEL ITEM */

#carrousel-item > div:first-child {
  background-color:cornflowerblue;
  height: 205px;
  display: flex;
  
  flex-direction: column;
}

#carrousel-item > div:first-child > div {
  background-color: darksalmon;
  width: 20px;
  height: 20px;
  border: solid black 1px;
  
}

/* Remove link style */
#carrousel1 > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}